<img src="http://www.japanexplorer.com.au/wp-content/uploads/2015/07/popluration.png" style="width:1000px;" />

In [1]:
from pandas import *

In [2]:
data = read_excel("HIST_POP_COM_RP13.xls", encoding="iso-8859-9", header=5 )[[
        "DEPCOM","DEP", "REG", "PMUN13","PMUN08", "PSDC99", "PSDC90", "PSDC82", "PSDC75", "PSDC68", "PSDC62"]]
data = data.merge(read_csv("http://www.insee.fr/fr/methodes/nomenclatures/cog/telechargement/2013/txt/depts2013.txt", sep="\t")[["NCC", "DEP"]])
data.columns = Series(["Communes","Departements", "Regions", "2013", "2008", "1999", "1990", "1982", "1975", "1968", "1962", "Departements_names"])
name = read_excel("table-appartenance-geo-communes-13.xls", header=5)[["CODGEO","LIBGEO"]]
name.columns = Series(["Communes", "Communes_ames"])
data = data.merge(name)
data.head()

,Communes,Departements,Regions,2013,2008,1999,1990,1982,1975,1968,1962,Departements_names,Communes_ames
0,01001,01,82,767,791,728,579,477,368,347,407,AIN,L'Abergement-Clémenciat
1,01002,01,82,236,194,168,159,136,106,88,103,AIN,L'Abergement-de-Varey
2,01004,01,82,14359,12792,11436,10455,9737,9550,8949,7748,AIN,Ambérieu-en-Bugey
3,01005,01,82,1635,1567,1408,1156,848,756,627,588,AIN,Ambérieux-en-Dombes
4,01006,01,82,108,123,86,76,65,82,108,107,AIN,Ambléon

## By departements

In [3]:
departements = []
for dep in set(data.Departements):
    d = data[data.Departements == dep]
    departements +=[{"code": dep, 
                     "region": d.Regions.iloc[0],
                     "name" : d.Departements_names.iloc[0],
                     "pop":{ "Pop2013" : {"value" : sum(d["2013"]), "date":2013 },
                             "Pop2008" : {"value" : sum(d["2008"]), "date":2008 },
                             "Pop1999" : {"value" : sum(d["1999"]), "date":1999 },
                             "Pop1990" : {"value" : sum(d["1990"]), "date":1990 },
                             "Pop1982" : {"value" : sum(d["1982"]), "date":1982 },
                             "Pop1975" : {"value" : sum(d["1975"]), "date":1975 },
                             "Pop1968" : {"value" : sum(d["1968"]), "date":1968 },
                             "Pop1962" : {"value" : sum(d["1962"]), "date":1962 } }
                    }]

In [5]:
with open('population.json', 'w') as f: #this data file is used in: 
     json.dump({"list": departements}, f)

## Biggest cities

In [33]:
data.sort_values(by="2013", ascending = False).iloc[range(10)]

,Communes,Departements,Regions,2013,2008,1999,1990,1982,1975,1968,1962,Names
30761,75056,75,11,2229621,2211297,2125246,2152423,2176243,2299830,2590771,2790091,Paris
4453,13055,13,93,855393,851420,798430,800550,874436,908600,889029,778071,Marseille
28507,69123,69,82,500715,474946,445452,415487,413095,456716,527800,535746,Lyon
12415,31555,31,73,458298,439553,390350,358688,347995,373796,370796,323724,Toulouse
2014,06088,06,93,342295,344875,342738,342439,337085,344481,322442,292958,Nice
17071,44109,44,52,292718,283288,270251,244995,240539,256693,260244,240048,Nantes
27936,67482,67,42,275718,272116,264115,252338,248712,253384,249396,228971,Strasbourg
13630,34172,34,91,272084,252998,225392,207996,197231,191354,161910,118864,Montpellier
12978,33063,33,72,243626,235891,215363,210336,208159,223131,266662,278403,Bordeaux
23377,59350,59,31,231491,225784,212597,198691,196705,219204,238554,239955,Lille